################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/obj/ComAlgLib.csproj.nuget.dgspec.json
/ConsoleApp2/obj/ComAlgLib.csproj.nuget.g.props
/ConsoleApp2/obj/ComAlgLib.csproj.nuget.g.targets
/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.dgspec.json
/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.props
/ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.targets
/ConsoleApp2/obj/project.assets.json
/ConsoleApp2/obj/project.nuget.cache
/ConsoleApp2/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/ConsoleApp2/obj/Release/net7.0/ComAlgLib.AssemblyInfo.cs
/ConsoleApp2/obj/Release/net7.0/ComAlgLib.AssemblyInfoInputs.cache
/ConsoleApp2/obj/Release/net7.0/ComAlgLib.assets.cache
/ConsoleApp2/obj/Release/net7.0/ComAlgLib.GeneratedMSBuildEditorConfig.editorconfig
